<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Effective file streaming using AdonisJs - Begueradj</title>
  <meta name="description" content="Preamble The majority of upload libraries/frameworks process files multiple times when streaming to an external service such as Amazon S3. Their upload workflows are usually designed like so:
 Process request files then save them to the tmp directory. Move each file from the tmp directory to the destination directory. Use the external service’s SDK to finally stream the file to the external service.  This process wastes server resources reading/writing single files multiple times.">
  <meta name="author" content="Billal Begueradj"/><script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Begueradj",
    
    "url": "https:\/\/www.begueradj.com\/"
}
</script><script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "url": "https:\/\/www.begueradj.com\/"
  
  
  
  
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https:\/\/www.begueradj.com\/",
          "name": "home"
        }
    },{
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "https:\/\/www.begueradj.com\/effective-file-streaming-using-adonisjs\/",
          "name": "Effective file streaming using adonis js"
        }
    }]
}
</script><script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "author": {
    "name" : "Billal Begueradj"
  },
  "headline": "Effective file streaming using AdonisJs",
  "description" : "Preamble The majority of upload libraries\/frameworks process files multiple times when streaming to an external service such as Amazon S3. Their upload workflows are usually designed like so:\n Process request files then save them to the tmp directory. Move each file from the tmp directory to the destination directory. Use the external service’s SDK to finally stream the file to the external service.  This process wastes server resources reading\/writing single files multiple times.",
  "inLanguage" : "en",
  "wordCount":  1265 ,
  "datePublished" : "2019-04-14T12:33:21",
  "dateModified" : "2019-04-14T12:33:21",
  "image" : "https:\/\/www.begueradj.com\/begueradj.png",
  "keywords" : [ "" ],
  "mainEntityOfPage" : "https:\/\/www.begueradj.com\/effective-file-streaming-using-adonisjs\/",
  "publisher" : {
    "@type": "Organization",
    "name" : "https:\/\/www.begueradj.com\/",
    "logo" : {
        "@type" : "ImageObject",
        "url" : "https:\/\/www.begueradj.com\/begueradj.png",
        "height" :  60 ,
        "width" :  60
    }
  }
}
</script>

<meta property="og:title" content="Effective file streaming using AdonisJs" />
<meta property="og:description" content="Preamble The majority of upload libraries/frameworks process files multiple times when streaming to an external service such as Amazon S3. Their upload workflows are usually designed like so:
 Process request files then save them to the tmp directory. Move each file from the tmp directory to the destination directory. Use the external service’s SDK to finally stream the file to the external service.  This process wastes server resources reading/writing single files multiple times.">
<meta property="og:image" content="https://www.begueradj.com/begueradj.png" />
<meta property="og:url" content="https://www.begueradj.com/effective-file-streaming-using-adonisjs/" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Begueradj" />

  <meta name="twitter:title" content="Effective file streaming using AdonisJs" />
  <meta name="twitter:description" content="Preamble The majority of upload libraries/frameworks process files multiple times when streaming to an external service such as Amazon S3. Their upload workflows are usually designed like so:
 Process …">
  <meta name="twitter:image" content="https://www.begueradj.com/begueradj.png" />
  <meta name="twitter:card" content="summary" />
  <link href='https://www.begueradj.com/begueradj.png' rel='icon' type='image/x-icon'/>
  <meta name="generator" content="Hugo 0.58.2" />
  <link rel="alternate" href="https://www.begueradj.com/index.xml" type="application/rss+xml" title="Begueradj"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><link rel="stylesheet" href="https://www.begueradj.com/css/main.css" /><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <link rel="stylesheet" href="https://www.begueradj.com/css/highlight.min.css" /><link rel="stylesheet" href="https://www.begueradj.com/css/codeblock.css" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.css" integrity="sha384-h/L2W9KefUClHWaty3SLE5F/qvc4djlyR4qY3NUV5HGQBBW7stbcfff1+I/vmsHh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/default-skin/default-skin.min.css" integrity="sha384-iD0dNku6PYSIQLyfTOpB06F2KCZJAKLOThS5HRe8b3ibhdEQ6eKsFf/EeFxdOt5R" crossorigin="anonymous">



<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-91013731-1', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>


  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.begueradj.com/">Begueradj</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        
          
            <li>
              <a title="About" href="/about/">About</a>
            </li>
          
        
          
            <li>
              <a title="Categories" href="/categories">Categories</a>
            </li>
          
        

        

        
      </ul>
    </div>

    
      <div class="avatar-container">
        <div class="avatar-img-border">
          <a title="Begueradj" href="https://www.begueradj.com/">
            <img class="avatar-img" src="https://www.begueradj.com/begueradj.png" alt="Begueradj" />
          </a>
        </div>
      </div>
    

  </div>
</nav>




    


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

<div class="pswp__bg"></div>

<div class="pswp__scroll-wrap">
    
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    
    <div class="pswp__ui pswp__ui--hidden">
    <div class="pswp__top-bar">
      
      <div class="pswp__counter"></div>
      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
      <button class="pswp__button pswp__button--share" title="Share"></button>
      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
      
      
      <div class="pswp__preloader">
        <div class="pswp__preloader__icn">
          <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
      <div class="pswp__share-tooltip"></div>
    </div>
    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
    </button>
    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
    </button>
    <div class="pswp__caption">
      <div class="pswp__caption__center"></div>
    </div>
    </div>
    </div>
</div>


  
  
  






  

  <header class="header-section ">
    
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
              
                <h1>Effective file streaming using AdonisJs</h1>
              
              
              
              
                <span class="post-meta">
  
  
  <i class="fas fa-calendar"></i>&nbsp;Posted on April 14, 2019
  
  
    &nbsp;|&nbsp;<i class="fas fa-clock"></i>&nbsp;6&nbsp;minutes
  
  
    &nbsp;|&nbsp;<i class="fas fa-book"></i>&nbsp;1265&nbsp;words
  
  
    
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;Billal Begueradj
    
  
  
</span>


              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


    
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        

<h3 id="preamble">Preamble</h3>

<p>The majority of upload libraries/frameworks process files multiple times when streaming to an external service such as Amazon S3. Their upload workflows are usually designed like so:</p>

<ul>
<li>Process request files then save them to the tmp directory.</li>
<li>Move each file from the tmp directory to the destination directory.</li>
<li>Use the external service’s SDK to finally stream the file to the external service.</li>
</ul>

<p>This process wastes server resources reading/writing single files multiple times.</p>

<p>That is what you can read on the official AdonisJs documentation. Here we learn how to implement that by streaming the files directly to the MySQL database.</p>

<h3 id="our-stack">Our stack</h3>

<ul>
<li>AdonisJs: to build the RESTful API server</li>
<li>Nuxt.js + Vuetify: to design a user interface to interact with our API.</li>
</ul>

<h3 id="our-app">Our app</h3>

<p>And this is the simple user interface I want to create:</p>

<p><img src="/adonisjs-file-streaming.png" alt="file streaming" /></p>

<p>The left button will be used to upload a file to the RESTful API server. The right button will be used to download it and display it on the right side</p>

<h3 id="project-setup">Project setup</h3>

<p>In my demo, the client and server code are set apart. My client application is handled by Nuxt.js:</p>

<pre><code class="language-cmd">yarn create nuxt-app client
</code></pre>

<p>and the server by AdonisJs:</p>

<pre><code>adonis new server --api-only
</code></pre>

<p>On my Github project, I use Vuetify.js and Eslint.</p>

<h3 id="nuxt-js-client-code">Nuxt.js client code</h3>

<p>Here is where the main code is located:</p>

<pre><code class="language-cmd">components/
├── PhotoUpload.vue
pages/
└── index.vue
layouts/
└── default.vue
</code></pre>

<p>In <strong>pages/index.vue</strong>, we will have this code:</p>

<pre><code class="language-javascript">&lt;template&gt;
  &lt;photo-upload /&gt;
&lt;/template&gt;

&lt;script&gt;
import PhotoUpload from '@/components/PhotoUpload.vue'

export default {
  name: 'MainPage',
  components: {
    PhotoUpload
  }
}
&lt;/script&gt;
</code></pre>

<p>The essential part of the code is what the <strong>PhotoUpload.vue</strong> component contains. So I show here the full code and then will explain the main points:</p>

<pre><code class="language-javascript">&lt;template&gt;
  &lt;v-container
    grid-list-md
    text-xs-center
    fill-height
  &gt;
    &lt;v-layout
      row
      wrap
      align-center
    &gt;
      &lt;v-flex
        v-if=&quot;url&quot;
        xs12
        sm4
      &gt;
        &lt;span
          class=&quot;font-weight-bold&quot;
        &gt;
          Client
        &lt;/span&gt;
        &lt;v-img
          :src=&quot;url&quot;
          contain
        /&gt;
      &lt;/v-flex&gt;
      &lt;v-flex
        xs12
        sm4
      &gt;
        &lt;v-text-field
          v-model=&quot;photoName&quot;
          name=&quot;photo&quot;
          outline
          background-color=&quot;blue&quot;
          color=&quot;blue&quot;
          label=&quot;Select image&quot;
          append-icon=&quot;attach_file&quot;
          @click=&quot;selectImage&quot;
        /&gt;
        &lt;input
          ref=&quot;image&quot;
          class=&quot;hide-input&quot;
          type=&quot;file&quot;
          accept=&quot;image/*&quot;
          @change=&quot;imageSelected&quot;
        &gt;
        &lt;v-btn
          round
          color=&quot;indigo&quot;
          @click=&quot;uploadPhoto&quot;
        &gt;
          &lt;v-icon
            color=&quot;white&quot;
          &gt;
            cloud_upload
          &lt;/v-icon&gt;
        &lt;/v-btn&gt;
        &lt;v-btn
          v-if=&quot;url&quot;
          color=&quot;indigo&quot;
          round
          @click=&quot;loadPhotoFromServer&quot;
        &gt;
          &lt;v-icon
            color=&quot;white&quot;
            class=&quot;download&quot;
          &gt;
            cloud_upload
          &lt;/v-icon&gt;
        &lt;/v-btn&gt;
      &lt;/v-flex&gt;
      &lt;v-flex
        v-if=&quot;url&quot;
        xs12
        sm4
      &gt;
        &lt;span
          v-if=&quot;photoId&quot;
          class=&quot;font-weight-bold&quot;
        &gt;
          Server
        &lt;/span&gt;
        &lt;v-img
          v-if=&quot;photoId&quot;
          :src=&quot;`${$axios.defaults.baseURL}/photos/${photoId}`&quot;
          contain
        /&gt;
      &lt;/v-flex&gt;
    &lt;/v-layout&gt;
  &lt;/v-container&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  name: 'PhotoUpload',
  data: () =&gt; ({
    url: '',
    photo: '',
    photoName: '',
    photoId: 0
  }),
  methods: {

    selectImage() {
      this.photo = this.$refs.image.click()
    },

    imageSelected(e) {
      this.$emit('input', e.target.files[0])
      this.photo = this.$refs.image.files[0]
      this.photoName = this.photo.name
      this.url = URL.createObjectURL(this.photo)
    },

    async uploadPhoto() {
      const data = new FormData()
      data.append('file', this.photo)
      const config = {
        headers: {
          'content-type': 'multipart/form-data'
        }
      }
      await this.$axios.$post('photos', data, config)
    },

    loadPhotoFromServer() {
      this.photoId = 1
    }
  }
}
&lt;/script&gt;

 &lt;style scoped&gt;
 .hide-input {
     display: none;
 }
 *{
     text-transform: none !important;
 }
 .download {
     transform: rotate(180deg)
 }
 &lt;/style&gt;
</code></pre>

<p>Let us break down this mess. Most the above code was explained in the previous article. We added two small aspects to it though. First, we display the image we choose to send to the server. This image preview functionality in Nuxt.js can be useful in many cases you are enough smart to guess. For that, we draw some place holders in the form of Vuetify components to show it up when it is ready:</p>

<pre><code class="language-javascript">&lt;v-flex
  v-if=&quot;url&quot;
  xs12
  sm4
&gt;
  &lt;span
    class=&quot;font-weight-bold&quot;
   &gt;
     Client
  &lt;/span&gt;
  &lt;v-img
    :src=&quot;url&quot;
    contain
  /&gt;
&lt;/v-flex&gt;
</code></pre>

<p>As we can see, the image will be displayed only if url is loaded <code>v-if=&quot;url&quot;</code>. This famous <code>url</code> is just a variable we declared in the <code>data()</code> method, and we set its content to point to the local photo selected by the user using: <code>URL.createObjectURL(this.photo)</code>.</p>

<p>We also added a Vuetify component to display the photo sent back by the server on a button click:</p>

<pre><code class="language-javascript">&lt;v-flex
  v-if=&quot;photoId&quot;
  xs12
  sm4
&gt;
  &lt;span
    class=&quot;font-weight-bold&quot;
   &gt;
     Server
  &lt;/span&gt;
  &lt;v-img
    :src=&quot;${$axios.defaults.baseURL}/photos/${photoId}&quot;
    contain
  /&gt;
&lt;/v-flex&gt;
</code></pre>

<p>We set photoId to 1 in <code>loadPhotoFromServer()</code> because we are interested to display the file which ID equals to 1 in the MySQL database. We use <code>$axios.defaults.baseURL</code> to refer to the <code>baseURL</code> key we defined in <strong>nuxt.config.js</strong> file to point to the URL on which our AdonisJs API is being served:</p>

<pre><code class="language-javascript">&lt;v-btn
  v-if=&quot;url&quot;
  color=&quot;indigo&quot;
  round
  @click=&quot;loadPhotoFromServer&quot;
&gt;
  &lt;v-icon
    color=&quot;white&quot;
    class=&quot;download&quot;
  &gt;
    cloud_upload
  &lt;/v-icon&gt;
&lt;/v-btn&gt;
</code></pre>

<h3 id="adonisjs-rest-api-server-code">AdonisJs REST API server code</h3>

<p>First of all, we need to create the migration, model and controller files for the photos:</p>

<pre><code class="language-cmd">adonis make:migration photos --action create
adonis make:model Photo
adonis make:controller Photo --type http
</code></pre>

<p>For our demo, let us be YAGNI and define only what we need in the migration file:</p>

<pre><code class="language-javascript">'use strict'

/** @type {import('@adonisjs/lucid/src/Schema')} */
const Schema = use('Schema')

class PhotosSchema extends Schema {
  up () {
    this.create('photos', (table) =&gt; {
      table.increments()
      table.specificType('file', &quot;longblob&quot;).notNullable()
      table.string('type', 10).notNullable()
    })
  }

  down () {
    this.drop('photos')
  }
}

module.exports = PhotosSchema
</code></pre>

<p>Note that Knex.js which is used by AdonisJs here, does not have a predefined data field for images apart from <code>binary</code>. Luckily this same <strong>Knex.js</strong> offers us the possibility to define a data type of our choice as long as the RDBMS we use supports it using <code>knex.specifiType()</code> method to define the longblob table column.</p>

<p>Since are not interested in using the timestamps fields for our <code>photos</code> table, we should inform the corresponding model <strong>Photo.js</strong> about it:</p>

<pre><code class="language-javascript">'use strict'

/** @type {typeof import('@adonisjs/lucid/src/Lucid/Model')} */
const Model = use('Model')

class Photo extends Model {
  
  static get createdAtColumn() {
    return null
  }

  static get updatedAtColumn() {
    return null
  }
  
}

module.exports = Photo
</code></pre>

<p>The important part now comes from the <strong>PhotoController.js</strong> controller:</p>

<pre><code class="language-javascript">'use strict'

const Photo = use('App/Models/Photo')
// const Database = use('Database')
const getStream = use('get-stream')

class PhotoController {

  async store({ request, response }) {
    let photo = {}
    request.multipart.file('file', {}, async function(file) {
      const fileContent = await getStream.buffer(file.stream)
      photo.filecontents = fileContent
      photo.type = `${file.type}/${file.subtype}`
    })
    
    try {
      await request.multipart.process()
    } catch(e) {
      console.log(e.message)
    }
    
    const photoInstance = new Photo()
    photoInstance.file = photo.filecontents
    photoInstance.type = photo.type
    try {
      await photoInstance.save()
    } catch(e) {
      console.log(e.message)
    }
    response.status(201)
  }

  async show({ request, response, params }) {
    try {
      // const photo = await Database
      //  .table('photos')
      //  .select('file')
      //  .where('id', params.id)
      const photo = await Photo.find(params.id)
      response.header('content-type', `${photo.type}/${photo.subtype}`)
      response.header('content-length', Buffer.byteLength(photo.file))
      // response.send(photo[0].file)
      response.send(photo.file)
    } catch(e) {
      console.log(e.message)
    }
  }
  
}

module.exports = PhotoController
</code></pre>

<p>We used the <code>store()</code> method in the previous article. Here we only add the <code>show()</code> method which receives the photoId we mentioned previously as a paramter in order to use to fetch for the photo in the MySQL database. Of course, as for uploading the photo, we need to define the headers properly to let the client know which type of data it is going to handle.</p>

<p>We can use either the <strong>Database</strong> or the <strong>Query Builder</strong> providers to look for the photo in the database. Our code comments out the previous option so that we can use each one we prefer.</p>

<p>If you upload a photo, you will find it on the server, precisely in the folder <strong>/tmp/photos</strong>. Note that you have to enable CORS for the requests to be acceped. You can do that by setting cors: true in <strong>config/cors.js</strong> file. For larger images, set the limit value of maxSize to whatever you want in <strong>/config/bodyParser.js</strong> which is 20mb by default.</p>

<p>Note that we forgot to mention one important thing. Actually it is the first thing to set in the API because without it/them we can not communicate with the server: the routes. So in <strong>start/routes.js</strong>, we can define the routes to our photos resources as follows:</p>

<pre><code class="language-javascript">Route.resource('photos', 'PhotoController')
</code></pre>

<p>That is it. I made a GitHub repository for this demo if anyone wants to try it or make a pull request to improve it.</p>


        

        
            <hr/>
            <section id="social-share">
              <div class="list-inline footer-links">
                

<div class="share-box" aria-hidden="true">
    <ul class="share">
      
      <li>
        <a href="//twitter.com/share?url=https%3a%2f%2fwww.begueradj.com%2feffective-file-streaming-using-adonisjs%2f&amp;text=Effective%20file%20streaming%20using%20AdonisJs&amp;via=" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.facebook.com/sharer/sharer.php?u=https%3a%2f%2fwww.begueradj.com%2feffective-file-streaming-using-adonisjs%2f" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//reddit.com/submit?url=https%3a%2f%2fwww.begueradj.com%2feffective-file-streaming-using-adonisjs%2f&amp;title=Effective%20file%20streaming%20using%20AdonisJs" target="_blank" title="Share on Reddit">
          <i class="fab fa-reddit"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.linkedin.com/shareArticle?url=https%3a%2f%2fwww.begueradj.com%2feffective-file-streaming-using-adonisjs%2f&amp;title=Effective%20file%20streaming%20using%20AdonisJs" target="_blank" title="Share on LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.stumbleupon.com/submit?url=https%3a%2f%2fwww.begueradj.com%2feffective-file-streaming-using-adonisjs%2f&amp;title=Effective%20file%20streaming%20using%20AdonisJs" target="_blank" title="Share on StumbleUpon">
          <i class="fab fa-stumbleupon"></i>
        </a>
      </li>
  
      
      <li>
        <a href="//www.pinterest.com/pin/create/button/?url=https%3a%2f%2fwww.begueradj.com%2feffective-file-streaming-using-adonisjs%2f&amp;description=Effective%20file%20streaming%20using%20AdonisJs" target="_blank" title="Share on Pinterest">
          <i class="fab fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </div>
  

              </div>
            </section>
        

        
          

          
        
      </article>

      
        <ul class="pager blog-pager">
          
            <li class="previous">
              <a href="https://www.begueradj.com/file-upload-from-a-nuxt.js-client-to-an-adonisjs-restful-api-server-using-axios/" data-toggle="tooltip" data-placement="top" title="File upload from a Nuxt.js client to an AdonisJS RESTful API server using axios">&larr; Previous Post</a>
            </li>
          
          
            <li class="next">
              <a href="https://www.begueradj.com/testing-emit-event-in-vue.js-using-jest-and-vue-test-utils/" data-toggle="tooltip" data-placement="top" title="Testing emit event in Vue.js using Jest and Vue Test Utils">Next Post &rarr;</a>
            </li>
          
        </ul>
      


      
        
        
      

    </div>
  </div>
</div>

      
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          
              <li>
                <a href="https://github.com/begueradj" title="GitHub">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://stackoverflow.com/users/8752798/begueradj" title="StackOverflow">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
          
        </ul>
        <p class="credits copyright text-muted">
          
            
              Billal Begueradj
            
          

          &nbsp;&bull;&nbsp;&copy;
          
            2020
          

          
            &nbsp;&bull;&nbsp;
            <a href="https://www.begueradj.com/">Begueradj</a>
          
        </p>
        
        <p class="credits theme-by text-muted">
          <a href="https://gohugo.io">Hugo v0.58.2</a> powered &nbsp;&bull;&nbsp; Theme <a href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a> adapted from <a href="https://deanattali.com/beautiful-jekyll/">Beautiful Jekyll</a>
          
        </p>
      </div>
    </div>
  </div>
</footer><script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://www.begueradj.com/js/main.js"></script>
<script src="https://www.begueradj.com/js/highlight.min.js"></script>
<script> hljs.initHighlightingOnLoad(); </script>
<script> $(document).ready(function() {$("pre.chroma").css("padding","0");}); </script><script> renderMathInElement(document.body); </script><script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe.min.js" integrity="sha384-QELNnmcmU8IR9ZAykt67vGr9/rZJdHbiWi64V88fCPaOohUlHCqUD/unNN0BXSqy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.2/photoswipe-ui-default.min.js" integrity="sha384-m67o7SkQ1ALzKZIFh4CiTA8tmadaujiTa9Vu+nqPSwDOqHrDmxLezTdFln8077+q" crossorigin="anonymous"></script><script src="https://www.begueradj.com/js/load-photoswipe.js"></script>










    
  </body>
</html>

